{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{ path('file_upload') }}" class="btn btn-primary">Upload file</a>
        </div>

        <h1>Home!</h1>
    </div>
{% endblock %}