{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{ path('file_upload') }}" class="btn btn-primary">Upload file</a>
        </div>

        <h1>User list <small class="text-muted">({{ pagination.getTotalItemCount }})</small></h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ knp_pagination_sortable(pagination, 'name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'lastName', 'lastName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'email', 'email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'birthday', 'birthday') }}</th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'lastPasswordChange', 'lastPasswordChange') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'createdAt', 'createdAt') }}
                </th>
            </tr>
            </thead>
            <tbody>

            {% for user in pagination %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birthday | date('Y-m-d') }}</td>
                    <td>{{ user.lastPasswordChange | date('Y-m-d') }}
                        , {{ user.lastPasswordChange | date('H:i:s') }}</td>
                    <td>{{ user.createdAt | date('Y-m-d') }}, {{ user.createdAt | date('H:i:s') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}