{% extends 'base.html.twig' %}

{% block title %}Upload File{% endblock %}

{% block body %}
    <div class="container py-3">
        <h1>Upload file</h1>
    </div>


    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">

                {{ form_start(form) }}
                {{ form_row(form.file) }}

                <div class="mb-3">
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}