{% extends 'security/authentication/base.html.twig' %}

{% block title %}Log In!{% endblock %}

{% block body %}
    <main class="form-signin">

        {{ form_start(form) }}
        <img class="mb-4" src="https://via.placeholder.com/150?text=LOGO" alt="logo" width="75" height="75">
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error.messageKey }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="form-floating">
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email address'}}) }}
            {{ form_label(form.email, null, {
                'label': 'Email address',
            }) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
            {{ form_label(form.password, null, {
                'label': 'Password',
            }) }}
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017 - {{ "now"|date("Y") }}</p>

        {{ form_end(form) }}
    </main>
{% endblock %}